<div id="<%= dom_id internacional %>">
  <div class="card" style="width: 18rem;">
    <%= link_to (image_tag "04int.jpg", class: "card-img-top"), "/interacionals/" %> 
    <div class="card-body">
      <h5 class="card-title"><%= internacional.encabezado %></h5>
      <p class="card-text"><%= internacional.cuepor %></p>
      <p class="card-text"> <strong>Link:</strong> <%= internacional.link %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
