<div id="<%= dom_id nacional %>">
  <div class="card" style="width: 18rem;">
    <%= link_to (image_tag "03nac.jpg", class: "card-img-top"), "nacionals/" %> 
    <div class="card-body">
      <h5 class="card-title"><%= nacional.encabezado %></h5>
      <p class="card-text"><%= nacional.cuepor %></p>
      <p class="card-text"> <strong>Link:</strong> <%= nacional.link %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
