<div class="card-group">
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "01deportes.jpg", class: "card-img-top"), "/deportes/" %> 
    <div class="card-body">
      <h5 class="card-title">Deportes</h5>
      <p class="card-text">Revisa las últimas noticias positivas del deporte.</p>
    </div>
    <div class="container">
      <div class="ppp row justify-content-center">
        <div class="col-10">
          <a href="/deportes/new" class="btn btn-primary btn-sm" role="button">Nueva Noticia Deportiva</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "02farandula.jpg", class: "card-img-top"), "/farandulas/" %> 
    <div class="card-body">
      <h5 class="card-title">Farándula</h5>
      <p class="card-text">Entérate de las copuchas de la farándula nacional e internacional.</p>
    </div>
        <div class="container">
      <div class="ppp row justify-content-center">
        <div class="col-10">
          <a href="/farandulas/new" class="btn btn-primary btn-sm" role="button">Nueva Noticia Farándulera</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "03nacional.jpg", class: "card-img-top"), "/nacionals/" %> 
    <div class="card-body">
      <h5 class="card-title">Nacional</h5>
      <p class="card-text">Revisa las noticias felices del ámbito nacional... porque... hay varias</p>
    </div>
        <div class="container">
      <div class="ppp row justify-content-center">
        <div class="col-10">
          <a href="/nacionals/new" class="btn btn-primary btn-sm" role="button">Nueva Noticia Nacional</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "04internacional.jpg", class: "card-img-top"), "/internacionals/" %>
    <div class="card-body">
      <h5 class="card-title">Internacional</h5>
      <p class="card-text">Mantente al día con las noticias positivas del Mundo</p>
    </div>
        <div class="container">
      <div class="ppp row justify-content-center">
        <div class="col-10">
          <a href="/internacionals/new" class="btn btn-primary btn-sm" role="button">Nueva Noticia Internacional</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "05politica.jpg", class: "card-img-top"), "/politicas/" %>
    <div class="card-body">
      <h5 class="card-title">Política</h5>
      <p class="card-text">Revisa las noticias positivas de la politica nacional</p>
    </div>
      <div class="container">
      <div class="ppp row justify-content-center">
        <div class="col-10">
          <a href="/politicas/new" class="btn btn-primary btn-sm" role="button">Nueva Noticia Polítiquera</a>
        </div>
      </div>
    </div>
  </div>
</div>